<div id="welcome">Before Init</div>

<script id="welcome-layout-template" type="text/template">
  <div id="user-data">...</div>
  <div id="user-selector">...</div>
</script>

<script type="text/javascript">
  var options = window.options || {};
  options['start_module'] = [{
      name: 'welcome',
      options: {
        msg: 'test msg',
        region_selector: '#welcome'
      }
    }
  ];
</script>