<div id="welcome">Before Init</div>

<script type="text/javascript">
  var options = window.options || {};
  options['start_module'] = [{
      name: 'welcome',
      options: {
        msg: 'test msg',
        region_selector: '#welcome'
      }
    }
  ];
</script>